<header class="header-page">
  <nav>
    <ul class="header-nav-ul">
      <li>
        <div class="logo-container">
          <img
            class="logo-adstate"
            src="../../../assets/graphics/adstateLogo.svg"
          />
          <div class="logo-texts-container">
            <p class="logo-text">adstate</p>
            <p class="logo-undertext">
              part of <span class="text-legatech">Legatech group</span>
            </p>
          </div>
        </div>
      </li>
      <li class="last-item">
        <img src="../../../assets/graphics/icon-menu.svg" class="menu-icon" />
      </li>
    </ul>
  </nav>
</header>
