@import "../../../variables.scss";
@import "../../../fonts.scss";

.dropdown-title-container {
  width: 100vw;
  background-color: $bg-color-dropdown;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-title {
  color: white;
  font-family: $font-heading, cursive;
}

.dropdown-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100vw;
}

.hidden {
  display: none;
}
