<app-header></app-header>
<div class="page-container">
  <app-hero-text></app-hero-text>
  <app-dropdown-page dropdownID="drop1" dropdownTitle="Portal">
    <img src="../assets/pictures/Portal.svg" class="portal-picture" />
    <p class="dropdown-text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores eveniet
      aliquam eum error laborum odio neque quas sapiente, consectetur,
      distinctio, eos perspiciatis. Quod harum veniam dolores veritatis pariatur
      natus incidunt.
    </p>
  </app-dropdown-page>
  <app-dropdown-page dropdownID="drop2" dropdownTitle="Begravelseplanlegger">
    <img src="../assets/pictures/Portal.svg" class="portal-picture" />
    <p class="dropdown-text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores eveniet
      aliquam eum error laborum odio neque quas sapiente, consectetur,
      distinctio, eos perspiciatis. Quod harum veniam dolores veritatis pariatur
      natus incidunt.
    </p>
  </app-dropdown-page>
  <app-dropdown-page dropdownID="drop3" dropdownTitle="Dødsannonser">
    <img src="../assets/pictures/Portal.svg" class="portal-picture" />
    <p class="dropdown-text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores eveniet
      aliquam eum error laborum odio neque quas sapiente, consectetur,
      distinctio, eos perspiciatis. Quod harum veniam dolores veritatis pariatur
      natus incidunt.
    </p>
  </app-dropdown-page>
  <app-dropdown-page dropdownID="drop4" dropdownTitle="Minnesider">
    <img src="../assets/pictures/Portal.svg" class="portal-picture" />
    <p class="dropdown-text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores eveniet
      aliquam eum error laborum odio neque quas sapiente, consectetur,
      distinctio, eos perspiciatis. Quod harum veniam dolores veritatis pariatur
      natus incidunt.
    </p>
  </app-dropdown-page>
  <app-dropdown-page dropdownID="drop5" dropdownTitle="Minnegave">
    <img src="../assets/pictures/Portal.svg" class="portal-picture" />
    <p class="dropdown-text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores eveniet
      aliquam eum error laborum odio neque quas sapiente, consectetur,
      distinctio, eos perspiciatis. Quod harum veniam dolores veritatis pariatur
      natus incidunt.
    </p>
  </app-dropdown-page>
  <div class="button-book-demo">
    <app-buttons buttonType="primary" name="Book Demo"></app-buttons>
  </div>
  <div class="buttons-ledigstilling-cookies">
    <app-buttons buttonType="secondary" name="Ledige Stillinger"></app-buttons>
    <app-buttons buttonType="secondary" name="Personvern"></app-buttons>
    <app-buttons buttonType="secondary" name="Cookies policy"></app-buttons>
  </div>
</div>
