<app-header></app-header>
<app-hero-text></app-hero-text>
<app-dropdown>
  <p>hello</p>
  <img src="../assets/pictures/Portal.svg" />
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores eveniet
    aliquam eum error laborum odio neque quas sapiente, consectetur, distinctio,
    eos perspiciatis. Quod harum veniam dolores veritatis pariatur natus
    incidunt.
  </p>
</app-dropdown>
<app-dropdown>
  <p>hello</p>
  <img src="../assets/pictures/Portal.svg" />
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores eveniet
    aliquam eum error laborum odio neque quas sapiente, consectetur, distinctio,
    eos perspiciatis. Quod harum veniam dolores veritatis pariatur natus
    incidunt.
  </p>
</app-dropdown>
