<app-header></app-header>
<app-hero-text></app-hero-text>
<app-dropdown-page dropdownID="drop1" dropdownTitle="Portal">
  <img src="../assets/pictures/Portal.svg" class="portal-picture" />
  <p class="dropdown-text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores eveniet
    aliquam eum error laborum odio neque quas sapiente, consectetur, distinctio,
    eos perspiciatis. Quod harum veniam dolores veritatis pariatur natus
    incidunt.
  </p>
</app-dropdown-page>
<app-dropdown-page dropdownID="drop2" dropdownTitle="Begravelseplanlegger">
  <img src="../assets/pictures/Portal.svg" class="portal-picture" />
  <p class="dropdown-text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores eveniet
    aliquam eum error laborum odio neque quas sapiente, consectetur, distinctio,
    eos perspiciatis. Quod harum veniam dolores veritatis pariatur natus
    incidunt.
  </p>
</app-dropdown-page>
<app-dropdown-page dropdownID="drop3" dropdownTitle="Dødsannonser">
  <p>WORLD</p>
</app-dropdown-page>
