@font-face {
  font-family: "Karma";
  src: url(./assets/fonts/Karma-Medium.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: "Petrona";
  src: url(./assets/fonts/Petrona-Light.ttf);
}

