$text-color-main: #3a3a3a;
$text-color-secondary: #366c93;

$bg-color-dropdown: #1d563b;

$button-bgcolor-primary: #5b3986;
$button-textcolor-primary: white;
$button-bgcolor-secondary: #e4d7c3;
$button-textcolor-secondary: black;
$button-bgcolor-tertiary: #140e1c;
$button-textcolor-tertiary: #d9d2e1;

$font-heading: "Petrona";
$font-text: "Roboto";
$font-text-bold: "Roboto-medium";
